<turbo-frame id="books_on_date">
  <h4 class="mt-2">検索結果</h4>
  <table class="table table-bordered" style="width: 80%;">
    <thead>
      <tr>
        <th>投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @books_count %>件</td>
      </tr>
    </tbody>
  </table>
</turbo-frame>